:root{
  --borda-padrão: 3px black solid;
}
* {
  margin: 0;
  padding: 0;
}

/* ! ///////  CABEÇALHO DA PÁGINA /////////////////////////////////////////////////////////////*/

nav {
  position: fixed;
  top:0px;

  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 45px;
  width: 100%;

  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background-image: url('https://thumbs.dreamstime.com/b/textura-de-madeira-escura-marrom-fundo-dos-pain-velhos-tabela-retro-r-stico-superf-cie-da-cor-do-vintage-vig-vinheta-copie-o-154628058.jpg');
  border-bottom: 10px groove rgb(26, 26, 26);
}

.nav-image {
  position: relative;
  top: 10px;
  
  height: 120px;
}
.return-icon{
  color: white;
  font-size: 30px;
  position: fixed;

  margin-left: calc(100vw - 80px);
}
.return-icon:hover{
  font-size: 25px;
}


/* ! ///////  CORPO DA PÁGINA /////////////////////////////////////////////////////////////*/

.body {
  width: 100%;
  height: 100%;
  min-height: 100vh;

  background-size: cover;
  
  background-image: url("http://1.bp.blogspot.com/-nv1J7PXd0eY/U4NXMiBOFKI/AAAAAAAAO94/oe2WJwHpomM/s1600/Kraft_Dirty_Paper_Texture.jpg");
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.body-welcome {
  margin-top: 100px;

  font-family: "Red Rose";
  font-size: 25px;
  text-align: center;
  color: white;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}

.body-title {
  font-family: "Red Rose";
  color: white;
  font-size: 50px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}

.world-category-general {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 52px;

}
.world-category-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;

  padding-left: 50px;
  padding-right: 20px;
}

.world-category-title {
  width: 100%;
  margin-top: 25px;

  font-family: "Red Rose";
  font-weight: 400;
  font-size: 35px;
  text-align: center;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}

.world-category-list {
  border: var(--borda-padrão);
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 250px);
}

.world-category-list-item {
  margin-left: 25px;

  font-family: "Red Rose";
  font-size: 20px;
  text-decoration: underline;

  margin-bottom: 10px;
}

.world-category-list-item:hover{
  text-decoration: underline;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}

.world-monsters-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 3;

  padding-left: 20px;
  padding-right: 50px;
}

.world-monsters-title {
  width: 100%;
  margin-top: 25px;

  font-family: "Red Rose";
  font-weight: 400;
  font-size: 35px;
  text-align: left;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}

.world-monsters-list {
  border: var(--borda-padrão);
  width: 100%;
  height: 100%;
  min-height: 25px;
}

.world-monsters-list-item {
  margin-left: 25px;

  font-family: "Red Rose";
  font-size: 20px;
  margin-bottom: 10px;
}

.world-monsters-list-item:hover {
  text-decoration: underline;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}


/* ! /////  RESPONSIVIDADE  ///////////////////////////////////////////////////////////////////////////////// */

@media (max-width: 947px){
  .world-container {
    display: flex;
    flex-direction: column;

    height: max-content;
    width: fit-content;
  }

  .image-and-name {
    border: 0px;
    width: 100%;
  }

  .world-description {
    font-size: 18px;
    display: flex;
    text-align: center;
  }
  .world-name{
    white-space: nowrap;
  }
  .world-image{
    max-height: 200px;
  }
  .world-category-general{
    flex-direction: column;
  }
  .world-category-container{
    padding-left: 20px;
    padding-right: 20px;
  }
  .world-category-title{
    text-align: center;
    margin-top: 10px;
  }
  .world-monsters-container{
    padding-left: 20px;
    padding-right: 20px;
  }
  .world-monsters-title{
    text-align: center;
    margin-top: 10px;
  }
  .world-category-ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .world-category-list{
    min-height: auto;
  }
  .return-icon{
    margin-left: calc(100vw - 50px);
  }
}