:root{
  --borda-padrão: 3px black solid;
}
* {
  margin: 0;
  padding: 0;
}


/* ! ///////  CABEÇALHO DA PÁGINA /////////////////////////////////////////////////////////////*/

nav {
  position: fixed;
  top:0px;

  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 45px;
  width: 100%;

  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background-image: url('https://thumbs.dreamstime.com/b/textura-de-madeira-escura-marrom-fundo-dos-pain-velhos-tabela-retro-r-stico-superf-cie-da-cor-do-vintage-vig-vinheta-copie-o-154628058.jpg');
  border-bottom: 10px groove rgb(26, 26, 26);
}

.nav-image {
  position: relative;
  top: 10px;
  
  height: 120px;
}


/* ! ///////  CORPO DA PÁGINA /////////////////////////////////////////////////////////////*/

.body {
  width: 100%;
  height: 100%;
  min-height: 100vh;

  background-size: cover;
  background-image: url("http://1.bp.blogspot.com/-nv1J7PXd0eY/U4NXMiBOFKI/AAAAAAAAO94/oe2WJwHpomM/s1600/Kraft_Dirty_Paper_Texture.jpg");
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.body-welcome {
  margin-top: 100px;

  font-family: "Red Rose";
  font-size: 30px;
  text-align: center;
  color: white;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}

.body-title {
  font-family: "Red Rose";
  color: white;
  font-size: 50px;
  text-align: center;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}

.world-items{
  width: 90%;
  height: max-content;

  display: flex;
  flex-direction: column;
  justify-content:space-evenly;

  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 75px;
}

.world-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  margin: 5px;
  padding: 10px;
  height: 200px;

  border: var(--borda-padrão);
  border-radius: 50px;

  box-shadow: 0px 4px 4px rgba(182, 165, 165, 0.25);
}

.world-container:hover{
  background-color: rgba(255,255,255,0.25);
  border-color: goldenrod;
}

.world-container:hover > .image-and-name{
  border-color: goldenrod;
}

.image-and-name{
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-evenly;
  border-right: var(--borda-padrão);

  height: 100%;
  width: 20%;

}

.world-image-container{
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.world-image {
  position: relative;
  width: 90%;
  height: 90%;
  object-fit: contain;
  /* padding: 20px; */

  filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 1));
}

.world-name {
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-align: center;

  color: black;
}
.world-description {
  width: 80%;
  display: flex;
  flex-wrap: wrap;

  margin-right: 20px;
  margin-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-family: 'Red Rose';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  vertical-align: top;
  color: black;
}


/* ! /////  RESPONSIVIDADE  ///////////////////////////////////////////////////////////////////////////////// */

@media (max-width: 1050px){
  .world-container {
    display: flex;
    flex-direction: column;
    height: max-content;
    width: fit-content;

    max-height: none;
  }

  .image-and-name {
    border: 0px;
    width: 100%;
  }

  .world-description {
    font-size: 18px;
    display: flex;
    text-align: center;
  }
  .world-name{
    white-space: nowrap;
  }
  .world-image{
    max-height: 200px;
  }
}